

.container {
  height: 100vh;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; /* Center align the title */
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
}

.form-check-input {
  margin-right: 5px;
}

.forgot-password {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

